# Data Science Tools and Ecosystem

## Author
Miguel Mastache

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List common Data Science libraries
* Table of Data Science Tools
* Examples of Arithmetic Expressions

Some of the popular languages taht Data Scientists use are:
1. Python
2. R
3. Java
4. C++

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Sci-kit
4. Seaborn
5. Matplotlib

| Data Science Tools |
| --- |
| Jupyter Lab |
| R Studio IDE |
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335